---
layout: default
title: All Tags
---
	<header>MANSON'S BLOG</header>
	<h1>{{ page.title }}</h1>

{% include tagcloud.html %}

<div class="post">


	{% for temptag in sortedtemptags %}
	  {% assign tagitems = temptag | split: '#' %}
	  {% capture tagname %}{{ tagitems[1] }}{% endcapture %}
		<h2 id="{{ tagname | slugify }}">{{ tagname }}</h2>
		<ul class="tags-expo-posts">	    
	      {% for post in site.tags[tagname] %}
		<a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
	      <li>
		{{ post.title }}
			(<small class="post-date">{{ post.date | date_to_string }}</small>)
	      </li>
	      </a>
	      {% endfor %}
	    </ul>
	{% endfor %}

</div>
