<!DOCTYPE html>
	<html>
		<head>
{% if site.tags != "" %}
  {% include collecttags.html %}
{% endif %}
			
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="description" content="Learn how to use the Firebase platform on the Web">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			
			<!-- Disable tap highlight on IE -->
			<meta name="msapplication-tap-highlight" content="no">

			<!-- Add to homescreen for Chrome on Android -->
			<meta name="theme-color" content="#303F9F">

			<!-- Add to homescreen for Safari on iOS -->
			<meta name="apple-mobile-web-app-status-bar-style" content="#303F9F">

			<!-- Tile icon for Win8 -->
			<meta name="msapplication-TileColor" content="#3372DF">
			<meta name="msapplication-navbutton-color" content="#303F9F">
			<link rel="stylesheet" href="/styles/main.css">
			
			<title>{{ page.title }}, aieio</title>

		</head>
		<body>
			{% if page.header != "" %}
			<header>{{ page.header }}</header>
			{% endif %}
			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
			<ul>
	        		<li><i class="material-icons">face</i><a href="/">manson.aieio.com</a></li>
	        		<li><i class="material-icons">assignment_ind</i><a href="/cv">My CV</a></li>
	        		<li><i class="material-icons">sms</i><a href="/blog">My Blog</a></li>
				<li><i class="material-icons">local_post_office</i><a href="mailto:manson.siu@gmail.com">Email Me</a></li>
	    		</ul>
			© aieio
			</footer>
		</body>
	</html>
