---
layout: default
---
    		<script>
			var themeColorTest = new function () {
				var me = this;
				me.init = function () {
					//$title = document.querySelector("title");
					$themeColor = document.querySelector("meta[name='theme-color']");
					startAnim();
				};
				function startAnim() {
					if($themeColor.content === '#fc4445') {
						$themeColor.content = '#bc986a';
					} else {
						$themeColor.content = '#fc4445';
					}
					setTimeout(startAnim, 500);
				}
			}
			themeColorTest.init();
		</script>
		{{ content }}
