@media screen and (max-width: 799px) {
  html, body {
      margin: 20px auto;
      margin-top: 20px;
      width: 90%;
      footer ul li {
        margin-right: 10px;
        display: none;
      }
}
@media screen and (min-width: 800px) {
  html, body {
      margin: 60px auto;
      margin-top: 50px;
      width: 75%;
  }
}

/* fallback */
 @font-face {
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 20;
   src: url(https://fonts.gstatic.com/s/materialicons/v37/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
 }

 .material-icons {
   font-family: 'Material Icons';
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   line-height: 1;
   letter-spacing: normal;
   text-transform: none;
   display: inline-block;
   white-space: nowrap;
   word-wrap: normal;
   direction: ltr;
   -webkit-font-feature-settings: 'liga';
   -webkit-font-smoothing: antialiased;
   top: 6px;
   position: relative;
   width: 30px;
 }

html, body {
    font-family: 'Merriweather', Georgia, Times;
    margin: 60px auto;
    width: 70%;
    font-size: 12px;
}

.banner {
    font-size: 150px;
    text-align: center;
}

.tagcloud ul, .taglist ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px 0px 15px 0px;
    list-style: none;
    font-size: 1.2em;
}

.tagcloud ul li, .taglist ul li  {
    margin-right: 30px;
    padding-bottom: 10px;
    display: inline;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px 0px 15px 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    margin-right: 30px;
    padding-bottom: 10px;
    display: inline;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    #font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
header {
    margin-bottom: 40px;
    border-bottom: 1px solid #d5d5d5;
    font-size: 1em;
}
footer {
    margin-top: 40px;
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.4em;
    line-height: 2.0em;
}

ul.posts li {
    list-style: none;
}
