@media screen and (max-width: 799px) {
  html, body {
      margin: 20px auto;
      margin-top: 20px;
      width: 95%;
  }
  nav ul li, footer ul li {
      margin-right: 10px;
      display: block;
  }
  ul.posts { 
    margin: 10px 10px 10px 10px; 
  }
}
@media screen and (min-width: 800px) {
  html, body {
      margin: 60px auto;
      margin-top: 50px;
      width: 75%;
  }
  nav ul li, footer ul li {
      margin-right: 30px;
      display: inline;
  }
  ul.posts { 
    margin: 20px 30px 40px 30px; 
  }
}

* {
  margin: 0;
  padding: 0;
}

p {
  line-height: 2.0em;
}
hr {
  margin: 25px 0px;
  border:none;
  border-top:1px dotted #BC986A;
  color:#fff;
}
h1 {
  padding-bottom: 10px;
}
h2 {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* fallback */
 @font-face {
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 20;
   src: url(https://fonts.gstatic.com/s/materialicons/v37/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
 }

 .material-icons {
   font-family: 'Material Icons';
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   line-height: 1;
   letter-spacing: normal;
   text-transform: none;
   display: inline-block;
   white-space: nowrap;
   word-wrap: normal;
   direction: ltr;
   -webkit-font-feature-settings: 'liga';
   -webkit-font-smoothing: antialiased;
   top: 6px;
   position: relative;
   width: 30px;
 }

html, body {
    font-family: 'Merriweather', Georgia, Times;
}

.banner {
    font-size: 150px;
    text-align: center;
}

.tagcloud ul, .taglist ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px 0px 15px 0px;
    list-style: none;
    font-size: 1.2em;
}

.tagcloud ul li, .taglist ul li  {
    margin-right: 30px;
    padding-bottom: 10px;
    display: inline;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px 0px 15px 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    padding-bottom: 10px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.4em;
    #font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

header {
    margin-bottom: 40px;
    border-bottom: 1px solid #d5d5d5;
    font-size: 12px;
}
footer {
    margin-top: 40px;
    border-top: 1px solid #d5d5d5;
    font-size: 12px;
}

div.post {
  margin-top: 15px;
}
div.post blockquote {
    padding: 3px 1.2em;
    color: #6a737d;
    border-left: 0.3em solid #dfe2e5;
    margin: 10px 0px;
}
div.post blockquote p {
    font-size: 1.2em;
    padding: 0px;
}

div.post p {
    font-size: 1.2em;  
    padding-bottom: 1em;
    line-height: 1.6em;
}

div.post pre {
    background-color: #faf7f5;
    overflow: auto;
    font-family: 'Monaco', monospace;
    padding: 0.5em 1em;
    margin: 1em 0px;
}
div.post pre code {
    border: none;
    background: none;
    line-height: 1em;
    letter-spacing: normal;
    word-break: break-all;
    font-size: 1.2em;
}

div.post table {
    border-collapse: collapse;
    margin: 15px 0px;
    font-size: 0.9em;
}
div.post td, th {
    border: 1px solid #999;
    padding: 6px 13px;
}
div.post tr:nth-child(2n) {
    background-color: #f6f8fa;
}

div.post ul, ol {
    padding-left: 2em;
}
div.post li+li {
    margin-top: .25em;
}
div.post ul li, ol li {
    line-height: 1.5em;
}

ul.posts { 
    font-size: 1.0em;
    line-height: 2.0em;
}

ul.posts li {
    list-style: none;
}

h2.tag-posts {
    padding-top: 25px;
    padding-bottom: 5px;
}
ul.tag-posts { 
    font-size: 1.2em;
    line-height: 1.5em;
}
ul.tag-posts li {
    list-style: none;
}
